<div class="col-md-3">
  <%= render "sidebar" %>
</div>

<div class="col-md-9">
  <ul class="nav nav-tabs bg-warning"  >
    <li class="active"><a data-toggle="tab" href="#hotJobs">热门职缺</a></li>
    <li><a data-toggle="tab" href="#newJobs">最新职缺</a></li>
  </ul>

  <div class="tab-content">
    <div id="hotJobs" class="tab-pane fade in active" >
    <table class="table table-hover">
      <thead>
        <tr>
          <th>职位名称</th>
          <th>薪资范围</th>
          <th>发布时间</th>
        </tr>
      </thead>
      <% @jobs.each do |f|%>
      <tr>
        <td><%= link_to f.title, job_path(f) %></td>
        <td class="text-success" style="font-size:16px"><%= f.wage_lower_bound/1000 %>k-<%= f.wage_upper_bound/1000 %>k</td>
        <td><%= f.created_at %></td>
      </tr>
      <% end %>
    </table>
    </div>

    <div id="newJobs" class="tab-pane fade">
      <h3>最新职缺</h3>
    </div>

  </div>

</div>
