<div class="pull-right">
  <%= link_to "增加职缺", new_admin_job_path, :class => "btn btn-primary btn-lg" %>
</div>

<br><br>

<table class="table table_hover">
  <thead>
    <tr>
      <th>职缺名称</th>
      <th>专业方向</th>
      <th>简历数</th>
      <th>管理</th>
      <th>发布时间</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |f| %>
    <tr>
      <td>
        <%= render_job_status(f) %>
        <%= link_to f.title, admin_job_path(f) %>
      </td>
      <td><%= f.job_field %></td>
      <td><%= link_to f.resumes.count, admin_job_resumes_path(f) %></td>
      <td>
        <%= link_to "编辑", edit_admin_job_path(f) %>
        <%= link_to "删除", admin_job_path(f), method: :delete, :data=> {:confirm => "确定删除吗" } %>
        <% if f.is_hidden %>
          <%= link_to "公开", publish_admin_job_path(f), method: :post, :class=>"btn btn-xs btn-default" %>
        <% else %>
          <%= link_to "隐藏", hide_admin_job_path(f), method: :post, :class => "btn btn-xs btn-default" %>
        <% end %>
      </td>
      <td><%= f.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
