<h1>增加职缺</h1>
<%= simple_form_for [:admin, @job] do |f| %>
<%= f.input :title %>
<%= f.input :wage_lower_bound %>
<%= f.input :wage_upper_bound %>
<%= f.input :contact_email %>
<%= f.input :description %>
<%= f.input :is_hidden %>
<%= f.submit "保存", :class => "btn btn-primary" %>
<% end %>
